@import './variables'

*, *:before, *:after
  box-sizing border-box

::selection
  background #000
  color #fff
  text-shadow none
::-moz-selection
  background #000
  color #fff
  text-shadow none

a
  color inherit
  &, &:focus, &:active
    outline none

html, body
  height 100%

body
  min-width 320px
  position relative
  font-family Ratio, sans-serif
  font-size font-size-sm
  color gray-dark
  @media screen and (min-width: 721px)
    font-size font-size-ms

p
  line-height 1.5
  margin margin-md 0

.container
  width 100%
  padding-left margin-md
  padding-right margin-md

@media screen and (min-width: 721px)
  .container
    width 80%
    margin 0 auto
    padding-left 0
    padding-right 0
