@import './variables'

#footer
  text-align center
  font-size font-size-sm

  .separator
    display inline-block
    margin 0 margin-sm

  .love
    font-size 90%
    color red
    text-decoration none
    transition color .25s
    &:hover
      color red-light

  padding margin-lg margin-md
  @media screen and (min-width: 721px)
    padding margin-xxl margin-md
