@import 'nib'
@import './scoticon.css'

*
  box-sizing border-box

::selection
  background #000
  color #fff
  text-shadow none
::-moz-selection
  background #000
  color #fff
  text-shadow none

a
  color inherit

html, body
  height 100%

body
  min-height 400px
  min-width 320px
  position relative
  font-family Ratio, sans-serif

@import './splash'

