@import './variables'

.project
  position relative

  .type
    text-transform uppercase
    color gray

  .name
    font-weight 500
    a
      text-decoration none

  .link
    a
      text-decoration none
      font-style italic
      .icon
        margin-left margin-sm
        font-size 60%

  .browser
    browser-border-radius = 5px
    .browser-header
      border-radius browser-border-radius browser-border-radius 0 0
      border-bottom 1px solid gray-lighter
      background gray-bg
      position relative
      .dots
        .dot
          border-radius 50%
          background gray-lighter
          float left
          margin-right 5px
          &:nth-child(1)
            background red-lighter
          &:nth-child(2)
            background yellow-lighter
          &:nth-child(3)
            background green-lighter
    .browser-window
      background #fff
      border-radius 0 0 browser-border-radius browser-border-radius
      overflow hidden
      border 1px solid gray-bg
      border-top none
      img.in-browser
        width 100%
        margin-bottom -(browser-border-radius)

  browser-header(header-height, dot-size)
    .browser-header
      height header-height
      .dots
        absolute top 50% left ((header-height - dot-size) / 2)
        margin-top -(dot-size / 2)
        .dot
          size dot-size

  .image-fullscreen
    display none
    size 0
    fixed top -10000px left -10000px

  // Size-specific styles
  // max-width: 720px
  margin-top margin-xl
  .type
    font-size font-size-xs
  .name
    margin margin-md 0
    font-size font-size-md
  .browser, img.no-browser
    width 100%
    margin-top margin-md
  browser-header(20px, 6px)

  @media screen and (min-width: 721px)
    margin-top margin-xxl
    browser-header(30px, 9px)

    .type
      font-size font-size-sm
    .name
      font-size font-size-ml

  @media screen and (min-width: 1000px)
    project-padding = margin-xxl
    image-width = 800px

    project-height(image-height)
      min-height image-height + 1px + project-padding

    padding project-padding 0
    .container
      min-height 400px

    project-height(600px)

    .type, .name, .description, .link
      width 45%

    .name
      margin margin-lg 0

    .image
      absolute top project-padding left 50%
      cursor zoom-in

    borwser-header-height = 40px
    .browser
      margin-top -(borwser-header-height)
      width image-width + 2px
    browser-header(borwser-header-height, 12px)

    img.no-browser
      width image-width

    &.conversive
      project-height(420px)
    &.cofound
      project-height(395px)
    &.weibo
      project-height(445px)

    .image-fullscreen
      z-index 1000
      background rgba(#fff, .9)
      fixed top left
      size 100%
      cursor zoom-out
      img
        width image-width
        absolute top 50% left 50%
        transform translate(-50%, -50%)
