#projects
  .project
    border-top 1px solid gray-lighter
    padding 100px 0

    .type
      font-size font-size-sm
      text-transform uppercase
      color gray

    .name
      margin margin-lg 0
      font-size font-size-ml
      font-weight 500
      a
        text-decoration none

    .description
      font-size font-size-ms

    .link
      a
        text-decoration none
        font-style italic
        .icon
          margin-left margin-sm
          font-size font-size-xs
