@font-face {
  font-family: 'scoticon';
  src: url('fonts/scoticon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'scoticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-500px:before {
  content: "\e600";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-facebook:before {
  content: "\f082";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-send:before {
  content: "\f1d8";
}
