@import './variables'

#splash
  .links
    .icon
      display inline-block
      transition color .25s
      &.icon-send
        transform scale(.85)
      &.github:hover
        color #333
      &.dribbble:hover
        color #ea4c89
      &.instagram:hover
        color #3f729b
      &.px:hover
        color #000
      &.twitter:hover
        color #55acee
      &.email:hover
        color #db4437

  // Size-specific styles
  // max-width: 399px
  padding margin-xxl 0 margin-lg

  .about, .links
    margin-top margin-xl

  .name
    font-size font-size-lg

  .links
    font-size font-size-ms
    .icon
      width 40px

  @media screen and (min-width: 721px)
    padding-top margin-xxl * 2

    .name
      font-size font-size-xl

    .links
      font-size font-size-md
      .icon
        width 60px
