gray-dark = #444
gray = #888
gray-light = #bbb
gray-lighter = #eee
gray-bg = #fafafa

margin-sm = 10px
margin-md = 20px
margin-ml = 30px
margin-lg = 40px

font-size-xs = 10px
font-size-sm = 14px
font-size-ms = 18px
font-size-md = 22px
font-size-ml = 30px
font-size-lg = 42px
font-size-xl = 55px
font-size-xxl = 80px
