gray-dark = #444
gray = #888
gray-light = #a4a4a4
gray-lighter = #eee
gray-bg = #fafafa

red = #e55f5c
yellow = #f2d925
green = #55c68d

red-light = lighten(red, 15%)
red-lighter = lighten(red, 30%)
yellow-lighter = lighten(yellow, 30%)
green-lighter = lighten(green, 30%)

margin-sm = 10px
margin-md = 20px
margin-ml = 30px
margin-lg = 40px
margin-xl = 60px
margin-xxl = 90px

font-size-xs = 10px
font-size-sm = 14px
font-size-ms = 18px
font-size-md = 22px
font-size-ml = 30px
font-size-lg = 42px
font-size-xl = 55px
font-size-xxl = 80px
